/* this css file will only style the homepage of our site */

.me-in-tree {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  border: solid 8px #182418ce;
}

ul {
  list-style-type: circle;
} 