/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #063a12cb;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 5px;
  font-family:'Courier New', Courier, monospace;
  font-size: 200%;
}

p {
  text-align: center;
  word-spacing: 5px;
  font-family:'Courier New', Courier, monospace;
  font-size: 180%;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 5px;
  font-family:'Courier New', Courier, monospace;
  font-size: 260%;
}

ul {
  word-spacing: 5px;
  font-family:'Courier New', Courier, monospace;
  font-size: 180%;
}
.center-that {
  text-align: center;
}



.center-that > ul {
  display: inline-block;
}

.center-that > p1{
  display: inline-block;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 3px #182418ce;
  background-color: #c0eeb7;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #bbdfc0;
}

.highlighted-link-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 3px #182418ce;
  background-color: #eafdcbcb;
}
/*picnic-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #A3C9A8;
  background-image: url('/Users/rubyhirsch/Desktop/ART101/art101/img/green-picnic.gif');
}
Sometime later I want to try to imbed a image as a background but for the sake of time, I will try later. 
*/