.special {
    background-color : crimson;
    border : dashed;
    color : seashell;
    font-weight : bold;
}

.smecial {
    background : teal; 
    border : dotted; 
    color : seashell; 
    font-weight : bold;
}

h1,h2,h3 {
    text-align: left;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-family:'Courier New', Courier, monospace;
    font-size: 200%;
  }
  
  p {
    text-align: left;
    word-spacing: 5px;
    font-family:'Courier New', Courier, monospace;
    font-size: 180%;
  }