/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  .talk {
    font-style: italic;
    font-family: "Courier";
  }

  .italic {
    font-style: italic;
  }

  .calvin {
    font-style: bold;
    font-size: xx-large;
    font-family: Impact;
    color: rgb(141, 180, 239);
  }

  img {
    width: 800px;
  }